<h3>tasks and shit</h3>

<div ng-repeat="task in incompleteTasks">
  <h4>name: {{task.taskName}} </h4>
  <p>{{task.notes}}</p>
  <p>complete: {{task.completed}}</p>
  <button ng-click="completeTask(task._id)">complete task</button>
  <button ng-click="goToTask(task._id)">task details</button>
</div>

<button ng-click="goToNewTask()">+ new task</button>

<div ng-repeat="task in completeTasks">
  <h4>name: {{task.taskName}} </h4>
  <p>{{task.notes}}</p>
  <p>complete: {{task.completed}}</p>
  <button ng-click="completeTask(task._id)">complete task</button>
  <button ng-click="goToTask(task._id)">task details</button>
</div>